<button (click)="addHandler()">Add</button>
<kendo-grid (cellClick)="cellClickHandler($event)" class="zipperPlanGrid" [data]="this.zipperPlanService.data"
	id="zipperPlanGrid" (remove)="removeHandler($event)">
	<kendo-grid-column field="roleDropdownConfigKey" title="Role" [headerClass]="'column-headers'" [width]="110">
		<ng-template kendoGridCellTemplate let-dataItem>
			{{ role(dataItem.roleDropdownConfigKey)?.display }}
		</ng-template>
		<ng-template kendoGridEditTemplate let-formGroup="formGroup">
			<kendo-dropdownlist [defaultItem]="defaultDropdownValue" [data]="roles" textField="display"
				valueField="value" [valuePrimitive]="true" [formControl]="formGroup.get('roleDropdownConfigKey')"
				(valueChange)="onRoleValueChange($event)">
			</kendo-dropdownlist>
		</ng-template>
	</kendo-grid-column>
	<kendo-grid-column field="disciplineDropdownConfigKey" title="Discipline" [headerClass]="'column-headers'"
		[width]="110">
		<ng-template kendoGridCellTemplate let-dataItem>
			{{ discipline(dataItem.disciplineDropdownConfigKey)?.display }}
		</ng-template>
		<ng-template kendoGridEditTemplate let-formGroup="formGroup">
			<kendo-dropdownlist [defaultItem]="defaultDropdownValue" [data]="disciplines" textField="display"
				valueField="value" [valuePrimitive]="true" [formControl]="formGroup.get('disciplineDropdownConfigKey')">
			</kendo-dropdownlist>
		</ng-template>
	</kendo-grid-column>
	<kendo-grid-column field="zipperLevelDropdownConfigKey" title="Zipper Level" [headerClass]="'column-headers'"
		[width]="110">
		<ng-template kendoGridCellTemplate let-dataItem>
			{{ zipperLevel(dataItem.zipperLevelDropdownConfigKey)?.display }}
		</ng-template>
		<ng-template kendoGridEditTemplate let-formGroup="formGroup">
			<kendo-dropdownlist [defaultItem]="defaultDropdownValue" [data]="zipperLevels" textField="display"
				valueField="value" [valuePrimitive]="true"
				[formControl]="formGroup.get('zipperLevelDropdownConfigKey')">
			</kendo-dropdownlist>
		</ng-template>
	</kendo-grid-column>
	<kendo-grid-column field="districtKey" title="District" [headerClass]="'column-headers'" [width]="90">
		<ng-template kendoGridCellTemplate let-dataItem>
			{{ district(dataItem.districtKey)?.display }}
		</ng-template>
		<ng-template kendoGridEditTemplate let-formGroup="formGroup">
			<kendo-dropdownlist [defaultItem]="defaultDropdownValue" [data]="districts" textField="display"
				valueField="value" [valuePrimitive]="true" [formControl]="formGroup.get('districtKey')">
			</kendo-dropdownlist>
		</ng-template>
	</kendo-grid-column>
	<kendo-grid-column field="pernr" title="PERNR" [headerClass]="'column-headers'" [width]="90">
		<ng-template kendoGridEditTemplate let-formGroup="formGroup">
			<kendo-textbox (blur)="onPernrTextboxBlur()" [disabled]="!isDisabled"
				[formControl]="formGroup.get('pernr')"></kendo-textbox>
		</ng-template>
	</kendo-grid-column>
	<kendo-grid-column field="name" title="Name" [headerClass]="'column-headers'" [width]="90">
		<ng-template kendoGridEditTemplate let-formGroup="formGroup">
			<kendo-textbox [disabled]="isDisabled" [formControl]="formGroup.get('name')"></kendo-textbox>
		</ng-template>
	</kendo-grid-column>
	<kendo-grid-column field="phoneNumber" title="Phone Number" [headerClass]="'column-headers'" [width]="120">
		<ng-template kendoGridEditTemplate let-formGroup="formGroup">
			<kendo-textbox [disabled]="isDisabled" [formControl]="formGroup.get('phoneNumber')"></kendo-textbox>
		</ng-template>
	</kendo-grid-column>
	<kendo-grid-column field="email" title="Email" [headerClass]="'column-headers'" [width]="120">
		<ng-template kendoGridEditTemplate let-formGroup="formGroup">
			<kendo-textbox [disabled]="isDisabled" [formControl]="formGroup.get('email')"></kendo-textbox>
		</ng-template>
	</kendo-grid-column>
	<kendo-grid-command-column title="Delete" [headerClass]="'column-headers'" [width]="55">
		<ng-template kendoGridCellTemplate>
			<button kendoGridRemoveCommand>Delete</button>
		</ng-template>
	</kendo-grid-command-column>
</kendo-grid>
<button (click)="saveChanges()">Save</button>
